{% extends "layouts/base.twig" %}

{% block body %}
    <h1>{{ title }}</h1>
    <p>Welcome to {{ title }}</p>
    <div class="centered">
        <a href='/'>home</a>
        <form method='post' action='/logout'>
            <button>déconnexion</button>
        </form>
        <a href='/login'>s'authentifier</a>
        <a href='/register'>s'enregistrer</a>
    </div>
{% endblock %}