{% extends "layouts/base.twig" %}

{% block body %}
    <h1>{{ title }}</h1>
    <p>Welcome to {{ title }}</p>
    <div class="centered">
        <form id="form-authenticate-user">
            <div class="form-field">Rejoignez le chat</div>
            <div class="form-field">
                <label for="username">username</label>
                <input type="text" name="username" id="username" autofocus/>
            </div>
            <div class="form-field">
                <label for="password">password</label>
                <input type="text" name="password" id="password" autofocus/>
            </div>
            <div class="form-field">
                <button>Enregistrer</button>
                <a href="/register">S'inscrire</a>
            </div>
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $("#form-authenticate-user").on("submit", function(e){
            e.preventDefault();
            $.post('/loginSave', $(this).serializeArray(), function(response){
                location.href = '/users';
            });
        });
    </script>
{% endblock %}